i.social.fa.fa-twitter.fa-2x(alt='Twitter')
i.social.fa.fa-instagram.fa-2x(alt='Instagram')
i.social.fa.fa-linkedin.fa-2x(alt='Linkedin')
i.social.fa.fa-dribbble.fa-2x(alt='Dribble')
i.social.fa.fa-github.fa-2x(alt='Github')
i.social.fa.fa-envelope.fa-2x(alt='Email')

section.credits
  p
    | Made with
    i.fa.fa-heart(alt='❤')
    |  and
    i.fa.fa-coffee(alt='')
    |  in Sao Paulo, Brazil
