a(href='/..')
  .avatar
h3
  a(href='/..') eldermartins
ul
  li
    a(href='/haikai') Haikai
  li
    a(href='/textos') Textos
  li
    a(href='/newsletter') Newsletter
  //li
    a(href='/portfolio') Portfolio
.clear
