.notfound {
  text-align: center;

  h1 {
    margin-top: 1em;
    text-align: center;
    font-family: $FFMetaSerif;
    font-size: 2em;
    color: #333;
    font-weight: bold;
    line-height: 1.3em;
    padding: 1em 0;
  }

  img {
    margin: 0 0 1em 0;
  }
}
