.notfound {
  text-align: center;

  h1 {
    margin: 1em 0 .4em 0;
    text-align: center;
    font-family: $FFMetaSerif;
    font-size: 1.5em;
    color: #333;
    font-weight: bold;
  }

  a {
    color: #3498db;

    :hover {
      color: #e74c3c;
    }
  }

  img {
    margin: 1em 0;
    float: none;
  }
}
