footer {
  max-width: $max-wrapper;
  margin: 0 auto;
  text-align: center;
  padding: 1em 0;
  border-top: 1px solid #eee;
}

.credits {
  max-width: $max-wrapper;
  margin: 0 auto;
  padding-bottom: 1em;
  font-family: $FFMeta;

  p {
  font-size: 1em;
  text-align: center;
  color: #ddd;
  }
}
