.wrapper
  .notfound
    h1 Sorry, something went wrong.&nbsp;
      a(href="http://eldermartins.com") Go back!
    img(src="https://media.giphy.com/media/5HSYaZTcRpYnS/giphy.gif" alt="404 / Something went wrong.")
