.wrapper
  .notfound
    h1 <i class="fa fa-thumbs-o-down" aria-hidden="true"></i> Deu ruim...&nbsp;
      a(href="/..") Volte por aqui

    img(src="https://media.giphy.com/media/5HSYaZTcRpYnS/giphy.gif" alt="404 / Something went wrong.")
