doctype
html
  head
    title= title
    meta(name="description" content="#{ description }")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', type='image/x-icon', href='../images/favicon.ico')
    link(rel="stylesheet" href="/main.css")
    //Google Domain
    meta(name='google-site-verification', content='pDAwougaLpLwF5e9bapueLXu2HwBFVuKN00Ok96vRHk')

    // Random links
    script(src="/js/randomlink.js")

    // Typekit Fonts
    script(src='https://use.typekit.net/rgd0iwr.js')
    script.
      try{Typekit.load({ async: true });}catch(e){}

  body
    != yield
    footer
      != partial("_sections/footer")
