doctype
html
  head
    title Elder Martins | Product Designer
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', type='image/x-icon', href='images/favicon.ico')
    link(rel="stylesheet" href="/main.css")

    // Typekit Fonts
    script(src='https://use.typekit.net/rgd0iwr.js')
    script.
      try{Typekit.load({ async: true });}catch(e){}

  body
    != yield
    footer
      != partial("_sections/footer")
