doctype
html
  head
    link(rel="stylesheet" href="/main.css")
    script(src='https://use.typekit.net/rgd0iwr.js')
    script.
      try{Typekit.load({ async: true });}catch(e){}

  body
    != yield
    footer
      != partial("_sections/footer")
