header
  nav
    != partial("_sections/nav")
  .wrapper
    h1
      | Olá, meu nome é
      | Elder Martins e eu
      i  crio
      |  coisas.
    p
      | No momento, trabalho como Product Designer
      | na&nbsp;
      a(href="https://magnetis.com.br" target="_blank") Magnetis
      |  — uma consultoria online de investimentos
      | e um dos principais expoentes da revolução de FinTechs no Brasil.

article
      p
        | Neste site eu compartilho algumas das coisas que gosto de escrever de forma livre e sem compromisso:
        | resenhas, ensaios, artigos, pensamentos, poesias, etc.

      p
        | Você pode me encontrar diariamente no&nbsp;
        a(href="https://twitter.com/eldertm" target="_blank") Twitter
        | ,&nbsp;
        a(href="https://www.instagram.com/eldertm/" target="_blank") Instagram
        |  e de vez em quando no&nbsp;
        a(href="https://dribbble.com/eldermartins" target="_blank") Dribbble
        | . Você também pode assinar a minha&nbsp;
        a(href="/newsletter" target="_blank") newsletter&nbsp;
        | pessoal. Se você quiser falar ou compartilhar algo comigo, pode me escrever um&nbsp;
        a(href="mailto:elder@eldermartins.com" target="_blank") email
        | . Para o bem ou para o mal, eu não tenho conta no Facebook —&nbsp;
        a(href="https://medium.com/@eldermartins/minha-conturbada-rela%C3%A7%C3%A3o-com-o-facebook-56e5c8384059#.h2pmnsgld" target="_blank") aqui está o motivo.

      .social
        a(href="https://twitter.com/eldertm" target="_blank")
          i.social.fa.fa-twitter.fa-2x(alt='Twitter')
        a(href="https://www.instagram.com/eldertm/" target="_blank")
          i.social.fa.fa-instagram.fa-2x(alt='Instagram')
        a(href="https://br.linkedin.com/in/eldermartins" target="_blank")
          i.social.fa.fa-linkedin.fa-2x(alt='Linkedin')
        a(href="https://dribbble.com/eldermartins" target="_blank")
          i.social.fa.fa-dribbble.fa-2x(alt='Dribble')
        a(href="https://github.com/eldermartins" target="_blank")
          i.social.fa.fa-github.fa-2x(alt='Github')
        a(href="mailto:elder@eldermartins.com" target="_blank")
          i.social.fa.fa-envelope.fa-2x(alt='Email')

article
  .colophon
      h1 COLOPHON
      p
        | Este site foi programado no&nbsp;
        a(href="https://atom.io" target="_blank") Atom
        | , construído estaticamente com&nbsp;
        a(href="https://harpjs.com" target="_blank") HarpJS&nbsp;
        | e servido até você maravilhosamente bem pelo&nbsp;
        a(href="https://surge.sh" target="_blank") Surge
        | . Todo o código fonte e versionamento é hospedado no&nbsp;
        a(href="https://github.com/eldermartins/eldermartins" target="_blank") Github
        | . As famílias tipográficas dos títulos são&nbsp;
        a(href="https://fonts.google.com/specimen/Montserrat" target="_blank") Montserrat&nbsp;
        | e&nbsp;
        a(href="https://fonts.google.com/specimen/Droid+Serif" target="_blank") Droid Serif&nbsp;
        | . O corpo do texto é composto por&nbsp;
        a(href="https://typekit.com/fonts/ff-meta" target="_blank") FF Meta Web Pro&nbsp;
        | (com e sem serifa). Os ícones são servidos pelo&nbsp;
        a(href="#") Font Awesome
        | . <br/>Todos os textos e imagens são de minha autoria, a não ser quando indicado o contrário.

// != partial("_sections/essays")
