header
  nav
    != partial("_sections/nav")
  .wrapper
    h1
      | Hello, my name is
      | Elder Martins
      i  and
      |  I build stuff.
    p
      | Right now, I'm working as a Product Designer at&nbsp;
      a(href="https://magnetis.com.br" target="_blank") Magnetis
      |  — a robo-advisor startup
      | and one of the main exponents of the FinTech revolution in Brazil.

article
      p
        | You can find me daily at&nbsp;
        a(href="#" target="_blank") Twitter
        | ,&nbsp;
        a(href="#" target="_blank") Instagram
        |  and sometimes on&nbsp;
        a(href="#" target="_blank") Dribbble
        | . Also, you can sign up to my personal&nbsp;
        a(href="#" target="_blank") newsletter
        | . If you want to talk or share something with me, you can reach me via&nbsp;
        a(href="#" target="_blank") email
        | . Sorry, I don't have a Facebook account —&nbsp;
        a(href="#" target="_blank") here's why.

      .social
        i.social.fa.fa-twitter.fa-2x(alt='Twitter')
        i.social.fa.fa-instagram.fa-2x(alt='Instagram')
        i.social.fa.fa-linkedin.fa-2x(alt='Linkedin')
        i.social.fa.fa-dribbble.fa-2x(alt='Dribble')
        i.social.fa.fa-github.fa-2x(alt='Github')
        i.social.fa.fa-envelope.fa-2x(alt='Email')

// != partial("_sections/essays")
