header.textos
  nav
    != partial("../_sections/nav")
  .wrapper
    h1 Textos
    p
      | Reunião de artigos, ensaios, traduções e resenhas que escrevi nos últimos
      | tempos. Se você usa um leitor de RSS, você pode&nbsp;
      a(href="#") assinar o feed aqui <i class="fa fa-rss" aria-hidden="true"></i>

article
      h3 Literatura
      ul
        li
          a(href="roleta-russa-uma-viagem-literaria.html") Roleta russa: uma viagem literária

      h3 Ideias
      ul
        li
          a(href="01.html") Minha conturbada relação com o Facebook
        li
          a(href="01.html") Como não se afogar no escesso de informação

      h3 Traduções
      ul
        li
          a(href="01.html") As pontes que Mark Zuckerberg destruiu
        li
          a(href="01.html") Budismo Occupy
        li
          a(href="01.html") Usando as mídias sociais atentamente
        li
          a(href="01.html") Acorde para a revolução
        li
          a(href="01.html") Escolha e liberdade
        li
          a(href="01.html") Quarta-feira, sem Starbucks
