.textos
  header
    nav
      != partial("../_sections/nav")
    .wrapper
      h1 Textos
      p
        | Reunião de artigos, ensaios, traduções e resenhas que escrevi nos últimos
        | tempos. Se você usa um leitor de RSS, você pode&nbsp;
        a(href="#") assinar o feed aqui <i class="fa fa-rss" aria-hidden="true"></i>

  article
        h3 Literatura
        ul
          li
            a(href="roleta-russa-uma-viagem-literaria.html") Roleta russa: uma viagem literária
          li
            a(href="#") O que li em 2016

        h3 Ideias
        ul
          li
            a(href="#") Minha conturbada relação com o Facebook
          li
            a(href="#") Como não se afogar no excesso de informação

        h3 Traduções
        ul
          li
            a(href="#") As pontes que Mark Zuckerberg destruiu
          li
            a(href="#") Budismo Occupy
          li
            a(href="#") Usando as mídias sociais atentamente
          li
            a(href="#") Acorde para a revolução
          li
            a(href="#") Escolha e liberdade
          li
            a(href="#") Quarta-feira, sem Starbucks
